@import "tailwindcss";

@plugin "tailwindcss-animate";

@theme {
  --color-background: "hsl(var(--background))";
  --color-foreground: "hsl(var(--foreground))";
  --color-popover-DEFAULT: "hsl(var(--popover))";
  --color-popover-foreground: "hsl(var(--popover-foreground))";
  --color-muted-DEFAULT: "hsl(var(--muted))";
  --color-muted-foreground: "hsl(var(--muted-foreground))";
  --color-accent-DEFAULT: "hsl(var(--accent))";
  --color-accent-foreground: "hsl(var(--accent-foreground))";
  --color-destructive-DEFAULT: "hsl(var(--destructive))";
  --color-destructive-foreground: "hsl(var(--destructive-foreground))";

  --color-primary-DEFAULT: "#E7C9A5";
  --color-primary-admin: "#25388C";

  --color-green-DEFAULT: "#027A48";
  --color-green-100: "#ECFDF3";
  --color-green-400: "#4C7B62";
  --color-green-500: "#2CC171";
  --color-green-800: "#027A48";

  --color-red-DEFAULT: "#EF3A4B";
  --color-red-400: "#F46F70";
  --color-red-500: "#E27233";
  --color-red-800: "#EF3A4B";

  --color-blue-100: "#0089F1";

  --color-light-100: "#D6E0FF";
  --color-light-200: "#EED1AC";
  --color-light-300: "#F8F8FF";
  --color-light-400: "#EDF1F1";
  --color-light-500: "#8D8D8D";
  --color-light-600: "#F9FAFB";
  --color-light-700: "#F8F8FF";
  --color-light-800: "#F8FAFC";

  --color-dark-100: "#16191E";
  --color-dark-200: "#3A354E";
  --color-dark-300: "#232839";
  --color-dark-400: "#1E293B";
  --color-dark-500: "#0F172A";
  --color-dark-600: "#333C5C";
  --color-dark-700: "#464F6F";
  --color-dark-800: "#1E2230";

  --color-gray-100: "#CBD5E1";

  --breakpoint-xs:"480px";

  --radius-lg: "var(--radius)";
  --radius-md: "calc(var(--radius) - 2px)";
  --radius-sm: "calc(var(--radius) - 4px)";
}




:root {
 --font-ibm-plex-sans: "IBM Plex Sans", "sans-serif";
 --radius: 0.5rem;

 .hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  border-radius: 0px;
}
.hide-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0px;
}

.hide-scrollbar::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

}

.book-overview h1 {
  @apply text-5xl font-semibold text-white md:text-7xl;
}

.bebas-neue {
  font-family: var(--bebas-neue), sans-serif;
}
